{% extends 'base.html' %}
{% load carton_tags %}
{% block breadcrumps %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "cart" %}">Cart</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "order" %}">Order</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<form class="order__wrap" method="post" action="." name="order_form" id="formOrder" novalidate>
    {% csrf_token %}
    <div class="order order--page">
{#    <section class="cart cart--order-page" id="cartSection">#}
{#        <div class="cart__caption">#}
{#            <h1>Your shopping bag</h1>#}
{#            {% if my_basket.count == 0 %}#}
{#            <p>is empty</p>#}
{#            {% else %}#}
{#            <p>Items reserved for limited time only</p>#}
{#            {% endif %}#}
{#        </div>#}
{#        {% if my_basket.count > 0 %}#}
{#        <div class="cart__order">#}
{#            <div class="order-quality">#}
{#                <div class="order-quality__product cart__product-block">#}
{#                    <p>Product</p>#}
{#                </div>#}
{#                <div class="order-quality__description cart__product-block">#}
{#                    <p>Description</p>#}
{#                </div>#}
{#                <div class="order-quality__color cart__product-block">#}
{#                    <p>Color</p>#}
{#                </div>#}
{#                <div class="order-quality__quantity cart__product-block">#}
{#                    <p>Qty</p>#}
{#                </div>#}
{#                <div class="order-quality__amount cart__product-block">#}
{#                    <p>Amount</p>#}
{#                </div>#}
{#                <div class="order-quality__size cart__product-block">#}
{#                    <p>Subtotal</p>#}
{#                </div>#}
{#                <div class="order-quality__amount cart__product-block">#}
{#                    <p>Remove</p>#}
{#                </div>#}
{#            </div>#}
{#            {% for item in my_basket.items %}#}
{#                <div class="cart__product">#}
{#                    <div class="product__image cart__product-block">#}
{#                        <img src="/dist/img/item/{{ item.product.thumbnail_image }}">#}
{#                    </div>#}
{#                    <div class="product__caption cart__product-block">#}
{#                        <a href="{% url "product" child_slug=item.product.category_id.slug slug=item.product.category_id.parent_category.slug product_slug=item.product.slug %}">#}
{#                            <h2>{{ item.product.name }}</h2></a>#}
{#                        <p>{{ item.product.amazon_id }}</p>#}
{#                    </div>#}
{#                    <div class="product__color cart__product-block">#}
{#                        <p>{{ item.product.color }}</p>#}
{#                    </div>#}
{#                    <div class="product__quantity cart__product-block">#}
{#                        <p>{{ item.quantity }}</p>#}
{#                    </div>#}
{#                    <div class="product__amount cart__product-block">#}
{#                        <p>€ {{ item.price }}</p>#}
{#                    </div>#}
{#                    <div class="product__size cart__product-block">#}
{#                        <p>€    {{ item.subtotal }}</p>#}
{#                    </div>#}
{#                    <div class="product__amount cart__product-block">#}
{#                        <form action="{% url 'remove' %}" method="POST" class="removeForm">#}
{#                            {% csrf_token %}#}
{#                            <input type="hidden" name="id" value="{{ item.product.id }}">#}
{#                            <button type="submit" class="cart__remove-link">&#215</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#                <div class="cart__total">#}
{#                    <h3>Subtotal: <span>€ {{ my_basket.total }}</span></h3>#}
{#                </div>#}
{#        </div>#}
{#        <div class="cart__button">#}
{#            <div class="cart__continue">#}
{#                <a href="{% url "categories" %}">Continue Shopping</a>#}
{#            </div>#}
{#            <div class="cart__order-button">#}
{#                <a href="{% url 'order' %}" id="showShippingAddress">Order now</a>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}
{#    </section>#}

    <section class="shipping" id="shippingSection">
        <div class="form form--contact form--edit-account form--order-page">
            <div class="form__caption">
                <h2>Shipping address</h2>
                <p>All fields are required</p>
            </div>
            <div class="form__delivery">
                <label for="delivery">Select delivery method</label>
                <select id="delivery" name="delivery">
                    {% for method in delivery %}
                    <option value="{{ method.id }}">{{ method.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__data">
                <div class="form form__data--name">
                    <label for="first_name">First name</label>
                    <input type="text" id="first_name" name="first_name" required value="{% if user.first_name != '' %}{{ user.first_name }}{% else %}{% endif %}">
                </div>
                <div class="form form__data--email">
                    <label for="last_name">Last name</label>
                    <input type="text" id="last_name" name="last_name" required value="{% if user.last_name != '' %}{{ user.last_name }}{% else %}{% endif %}">
                </div>
            </div>
            <div class="form__address">
                <label for="address_1">Address</label>
                <input type="text" id="address_1" required name="first_line_adress" value="{% if user.profile.first_line_adress != None %}{{ user.profile.first_line_adress }}{% else %}{% endif %}">
            </div>
            <div class="form__data">
                <div class="form form__data--name">
                    <label for="city">City</label>
                    <input id="city" type="text" name="city" required value="{% if user.profile.city != None %}{{ user.profile.city }}{% else %}{% endif %}">
                </div>
                <div class="form form__data--email">
                    <label for="zip">Postal code</label>
                    <input id="zip" type="text" required name="postal_code" value="{% if user.profile.postal_code != None %}{{ user.profile.postal_code }}{% else %}{% endif %}">
                </div>
            </div>
            <div class="form__country form__topic">
                <label for="country">Country</label>
                <select id="id_country" name="country">
                    <option value="">---------</option>
                    <option value="GB">United Kingdom</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="BY" selected="selected">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BM">Bermuda</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="RU">Russian Federation</option>
                    <option value="US">United States</option>
                </select>
            </div>
            <div class="form__address">
                <label for="email">Email</label>
                <input type="text" id="email" required name="email" value="{% if user.email != '' %}{{ user.email }}{% else %}{% endif %}">
            </div>
        <div class="cart__button cart__button--form">
            <div class="cart__order-button">
                <a href="/order/" id="showPayment">Next step</a>
            </div>
        </div>
        </div>
    </section>
    <section class="payment" id="paymentSection">
          <div class="form form--payment">
            <div class="form__caption">
                <h2>Payment options</h2>
                <p>All fields are required</p>
            </div>
            <div class="form__amount">
                <h3>Subtotal: <span>€ {{ my_basket.total }}</span></h3>
                <h3>Shipping: <span>€ 0</span></h3>
                <h3><span class="total">Total: <span>€ {{ my_basket.total }}</span></span></h3>
            </div>
            <div class="form__payment">
                <label for="payment">Select payment method</label>
                <select id="payment" name="paymentMethod">
                    {% for pay in payment %}
                    <option value="{{ pay.id }}">{{ pay.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__input form__input--order">
                <input type="submit" value="ORDER NOW">
            </div>
        </div>
    </section>
    </div>
</form>

{% endblock content %}

