{% extends 'base.html' %}
{% block breadcrumps %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url 'cart' %}">Order</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
    <section class="contact">
        <div class="contact__text">
            <h1>THANK YOU FOR ORDER</h1>
            <p>We'll contact you immediately!</p>
        </div>
    </section>
{% endblock content%}