{% extends 'base.html' %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "account" %}">Account</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "account" %}">Edit your account</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<section class="edit-account">
        <div class="edit-account__caption">
            <h1>Edit your account</h1>
        </div>
        <form class="form form--contact form--edit-account" action="." method="post">
        {% csrf_token %}
            <div class="form__data">
                <div class="form form__data--name">
                    <label for="first_name">First name</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form form__data--email">
                    <label for="last_name">Last name</label>
                    {{ user_form.last_name }}
                </div>
            </div>
            <div class="form__company">
                <div class="form form__company--name">
                    <label for="company_name">Company name<span> (optional)</span></label>
                    {{ profile_form.company_name }}
                </div>
            </div>
            <div class="form__address">
                <label for="first_line_adress">Address</label>
                {{ profile_form.first_line_adress }}
            </div>
            <div class="form__data">
                <div class="form form__data--name">
                    <label for="city">City</label>
                    {{ profile_form.city }}
                </div>
                <div class="form form__data--email">
                    <label for="postal_code">Postal code</label>
                    {{ profile_form.postal_code }}
                </div>
            </div>
            <div class="form__country form__topic">
                <label for="country">Country</label>
                {{ profile_form.country }}
            </div>
            <div class="form__data">
                <div class="form form__data--name form__data--sex">
                    <label for="sex">Sex</label>
                    {{ profile_form.sex }}
                </div>
                <div class="form form__data--email">
                    <label for="email">E-mail</label>
                    {{ user_form.email }}
                </div>
            </div>
             <div class="form__input form__input--account">
                <input type="submit" value="SAVE">
            </div>
        </form>
</section>
{% endblock content %}