{% extends "base.html" %}
{% load get_parent_category_slug %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "categories" %}">Categories</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "child categories list" slug=category.parent_category.slug %}">{{ category.parent_category.name }}</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "category view" slug=category.parent_category.slug child_slug=category.slug %}">{{ category.name }}</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<section class="category" id="categorySection">
        <div class="category__text">
            <h1>{{ category.name }}</h1>
            <p>All Products</p>
        </div>
        <div class="category__filters">
            <form class="form form__filters form--inline" method="post" action="{% url "filter" %}" id="formFilter">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}">
                <div class="form__filter-group">
                    <select name="price" class="form__filter-select form__input">
                      <option value="0-9999" selected="selected">Price</option>
                      <option value="20-30">€20-30</option>
                      <option value="30-50">€30-50</option>
                      <option value="50-100">€50-100</option>
                      <option value="100-9999">€100 and more</option>
                    </select>
                </div>
                <div class="form__filter-group">
                    <select name="brand" class="form__filter-select form__input">
                      <option value="" selected="selected">Brand</option>
                      {% for brand in brands %}
                      <option value="{{ brand.brand }}">{{ brand.brand|lower|capfirst }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form__filter-group">
                    <select name="sort" class="form__filter-select form__input">
                      <option value="?" selected="selected">Sort</option>
                      <option value="price">Price low to high</option>
                      <option value="-price">Price high to low</option>
                      <option value="?">Random</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="category__content" id="categoryContent">
            <div class="product-thumb__list">
                {% for i in products %}
                <a href="{% url "product" slug=category.parent_category.slug product_slug=i.slug child_slug=category.slug %}" class="product-thumb__link">
                    <div class="product-thumb">
                        <div class="product-thumb__image">
                            <img src="/static/img/item/{{ i.image }}" alt="{{ i.name }}">
                        </div>
                        <div class="product-thumb__info">
                            <h4 class="product-thumb__name">{{ i.name }}</h4>
                            <p class="product-thumb__price">€ {{ i.price }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="pages">
            {% for page in pages_count %}
                <a class="page__link {% if page == current_page %}page__link--active{% endif %}" href="{% if page == current_page %} # {% else %} {% url "category page" slug=category.parent_category.slug child_slug=category.slug page=page %} {% endif %}">{{ page }}</a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}