{% extends "base.html" %}
{% load get_item %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "categories" %}">Categories</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
    {% for category in categories %}
    <div class="category-preview">
        <div class="category-preview__header">
            <h2 class="category-preview__caption">{{ category.name }}</h2>
            <a href="/category/{{ category.slug }}" class="category-preview__link">show more</a><span class="category-preview__link-arrow">→</span>
        </div>
{#    {% for parent_category in categories|get_item:category.parent_category_id %}#}
        <div class="category-preview__content">
            <div class="product-thumb__list">
                 {% for product in products|get_item:category.id %}
                <a href="{% url "product" slug=category.slug product_slug=product.slug %}" class="product-thumb__link product-thumb__link--flex-four">
                    <div class="product-thumb">
                        <div class="product-thumb__image">
                            <img src="/dist/img/item/{{ product.image }}" alt="{{ product.name }}">
                        </div>
                        <div class="product-thumb__info">
                            <h4 class="product-thumb__name">{{ product.name }}</h4>
                            <p class="product-thumb__price">€ {{ product.price }}</p>
                        </div>
                    </div>
                </a>
                  {% endfor %}
            </div>
        </div>
{#        {% endfor %}#}
    </div>
    {% endfor %}
{% endblock content %}