{% extends "base.html" %}
{% block breadcrumps %}

{% endblock breadcrumps %}
{% block content %}
    <form action="{% url "register" %}" id="form" class="login__form" method="post">
        {% csrf_token %}
        <div class="login__form-group">
            <label for="email" class="login__form-label">E-mail</label>
            <input type="email" name="email" id="email" class="login__form-input">
        </div>
        <div class="login__form-group login__form-group--relative" id="forgotPassGroup">
            <label for="password" class="login__form-label">Password </label>
            <input type="password" name="password" id="password" class="login__form-input">
        </div>
        <div class="login__form-group login__form-group--invisible" id="passwordRepeat">
            <label for="password2" class="login__form-label">Password Repeat</label>
            <input type="password" name="passwordRepeat" id="password2" class="login__form-input">
        </div>
    </form>
{% endblock content %}