@font-family: "Lato", sans-serif;
@h-color: #303030;
@p-color: #606060;
@border-color: #eaeaea;
@bread-padd: 70px;
@indent-h1-to-h2: -20px;
@orange: #f68236;

.container {
    width: 95%;
    margin: 0 auto;
}
