.banner {
    &__link {
        text-align: center;
        padding: 50px;
        @media (max-width: 780px) {
            padding: 20px 0;
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .container;
    padding: 35px 0;
    margin: 40px auto;
    font-family: @font-family;
    @media (max-width: 768px) {
        padding: 35px 0 0;
    }

    h1 {
        color: @h-color;
        font-weight: 400;
        font-size: 72px;
        text-align: center;
        line-height: 43px;
        margin: 40px 0;
        letter-spacing: @h-letter-spacing;
        @media (max-width: 780px) {
            font-size: 20px;
            line-height: 25px;
            margin: 20px 0;
        }
    }

    p {
        color: #606060;
        font-style: italic;
        margin: 10px;
        text-align: center;
        font-size: 24px;
        line-height: 35px;
        font-weight: 300;
        @media (max-width: 780px) {
            font-size: 1em;
        }
    }
}
