.banner {

  display: flex;
  justify-content: center;
  align-items: center;
  .container;
  padding: 100px 0;
  font-family: @font-family;

  h1 {
    color: @h-color;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
  }

  p {
    color: #606060;
    font-style: italic;
    margin-top: -50px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
  }
}
