.cart {
  font-family: @font-family;
  .container;
  margin-bottom: 55px;
  margin-top: @h2-to-content;

  &__caption {
    text-align: center;

    h1 {
      color: @h-color;
      font-weight: 700;
      font-size: 2.3em;
      text-transform: uppercase;
    }
    p {
      color: @p-color;
      font-style: italic;
      font-size: 1.3em;
      font-weight: 300;
      margin-top: @indent-h1-to-h2;
    }
  }
  &__order {
    margin-bottom: @h2-to-content;
    .order-quality {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: @p-color;
      font-weight: 300;
      text-transform: uppercase;
      border-bottom: 1px solid @border-color;

      &__description {
        padding-right: 250px;
      }
    }

    .cart__product {
      display: flex;
      border-bottom: 1px solid @border-color;
      padding-bottom: 20px;
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;

      p {
        color: #3e3e3e;
      }

      .product__caption {
        padding-right: 150px;

        h2 {
          text-transform: uppercase;
          font-size: 1.1em;
        }
        p {
          color: @p-color;
          font-weight: 400;
          font-style: italic;
        }
      }
    }
    .cart__total {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      h3 {
        color: @h-color;
        font-weight: 400;

        span {
          color: @orange;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    a {
      color: @p-color;
    }
  }
}