.form {
  &__input {
    input[type="email"] {
      border: 1px solid #959595;
      padding: 12px 180px 10px 5px;
    }
    input[type="submit"] {
      color: white;
      background: #f68236;
      padding: 12px 25px;
      border: none;
      transition: all 0.5s ease;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background: #717171;
      padding: 12px 25px;
      border: none;
    }
  }

  &--inline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
}