.header {
    background: #fff;
}

.header__container {
    font-family: @font-family;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .container;
    position: relative;
    @media (max-width: 780px) {
        display: block;
        align-items: inherit;
        justify-content: inherit;
    }

    .header__menu {
        color: @h-color;
        transition: all 0.5s ease;
        width: 75%;
        display: flex;
        @media (max-width: 780px) {
            display: block;
        }

        .header__menu-active {
            a {
                font-weight: 700;
            }
        }

        .header__logo {
            background: #222;
            color: white;
            margin: 10px 40px 10px 0;

            a {
                padding: 5px;
                font-weight: bold;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: @h-color;
            font-weight: 400;
            padding: 10px;
            transition: all 0.3s ease;
            position: relative;
        }

        a:after {
            content: '';
            display: block;
            bottom: 0;
            position: absolute;
            margin: auto;
            height: 0;
            width: 95%;
            background: transparent;
            transition: width 0.5s ease, background-color 0.5s ease;
        }

        a:hover:after {
            height: 1px;
            background: @h-color;
        }

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            @media (max-width: 780px) {
                display: block;
            }
        }

        li {
            padding: 20px 15px;
        }
    }

    .header__options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        @media (max-width: 780px) {
            display: block;
            align-items: inherit;
            justify-content: inherit;
        }

        .header__options-link {
            text-decoration: none;
            color: #303030;
        }

        .header__options-img {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: baseline;
        }

        .header__options-icon,
        .header__options-img {
            margin-right: 5px;
        }

        .header__cart {
            a {
                text-decoration: none;
                color: @h-color;
                font-weight: 400;
            }
        }

        .header__search {
            border: 1px solid @border-color;
            padding: 10px 15px;
        }
    }
}

.header__divider {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 0 auto;
}
