.home-promo {
    .container;

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__block {
        height: 290px;
        flex: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__block--colspan {
        position: relative;
        height: 290px;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-promo__header {}
}
//
