.product-thumb__list {
    display: flex;
}

.product-thumb {
    flex: 1 1 auto;

    .product-thumb__image {
        width: 210px;
        height: 260px;

        img {
            width: 100%;
        }
    }
}
