.product-thumb__list {
    display: flex;
}

.product-thumb {
    flex: 1 1 auto;

    &__image {
        width: 210px;
        height: 300px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        text-align: center;
    }
}
