.footer {
    font-family: @font-family;

    .footer__container {
        .container;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width: 780px) {
            display: block;
            align-items: inherit;
            justify-content: inherit;
        }

        .footer__collection {
            text-align: start;

            h2 {
                text-align: center;
                color: @h-color;
            }

            ul {
                list-style: none;
                padding: 0;
            }

            li {
                padding-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: #222222;
                text-align: left;
            }

            a:hover {
                border-bottom: 1px solid #222222;
            }
        }

        .footer__site {
            border-left: 2px solid @border-color;
            padding-left: 15px;

            h2 {
                text-align: start;
                color: @h-color;
            }

            ul {
                list-style: none;
                padding: 0;
            }

            li {
                padding-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: #222222;
                text-align: left;
            }

            a:hover {
                border-bottom: 1px solid #222222;
            }
        }

        .footer__shop {
            border-left: 2px solid @border-color;
            padding-left: 15px;

            h2 {
                text-align: start;
                color: @h-color;
            }

            ul {
                list-style: none;
                padding: 0;
            }

            li {
                padding-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: #222222;
                text-align: left;
            }

            a:hover {
                border-bottom: 1px solid #222222;
            }
        }

        .footer__social {
            border-left: 2px solid @border-color;
            padding-left: 15px;

            h2 {
                text-align: start;
                color: @h-color;
            }

            p {
                color: #222222;
            }
        }
    }
}
