{% extends "base.html" %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
             <li class="breadcrumbs__item">
                <a href="{% url "categories" %}">Categories</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "category view" slug=category.slug %}">{{ category.name }}</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#">{{ item.slug }}</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<section class="product-detail">
    <div class="product-detail__image">
        <img src="/dist/img/item/{{ item.image }}">
    </div>
    <div class="product-detail__text">
        <h1>{{ item.name }}</h1>
        <h2>Article number: {{ item.amazon_id }}</h2>
        <p>€ {{ item.price }}</p>
    </div>
    <div class="product-detail__description">
        <p>{{ item.description|safe }}
        </p>
    </div>
    <div class="product-detail__size">
        <h3>Size</h3>
        <div class="size">
            <a href="#">{{ item.size }}</a>
{#            <a href="#">36</a>#}
{#            <a href="#">38</a>#}
{#            <a href="#">40</a>#}
{#            <a href="#">42</a>#}
        </div>
    </div>
    <div class="product-detail__button form__input">
        <input type="submit" value="ADD TO CART">
    </div>
</section>
{% endblock content %}