{% extends "base.html" %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
             <li class="breadcrumbs__item">
                <a href="{% url "categories" %}">Categories</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "category view" slug=category.slug %}">{{ category.name }}</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#">{{ item.name }}</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<section class="product-detail">
    <div class="product-detail__image">
        <img src="/dist/img/item/{{ item.image }}">
    </div>
    <div class="product-detail__text">
        <h1>{{ item.name }}</h1>
        <h2>Article number: {{ item.amazon_id }}</h2>
        <p>€ {{ item.price }}</p>
    </div>
    <div class="product-detail__description">
        <p>{{ item.description|safe }}
        </p>
    </div>
    <form action="/cart/add/" method="post">
    <input type="hidden" name="id" value="{{ item.id }}">
    <div class="product-detail__size">
        <h3>Colour</h3>
        <div class="size">
             <input type="radio" name="colour" id="colour" class="color__input" checked="checked" value="{{ item.color }}">
            <label for="colour" class="color__label">
                {{ item.color }}
            </label>

        </div>
    </div>
    <div class="product-detail__button form__input">
        <input type="submit" value="ADD TO CART">
    </div>
    </form>
</section>
{% endblock content %}