{% extends "base.html" %}
{% load get_parent_category_slug %}
{% load get_parent_category_name %}
{% block breadcrumps %}
<div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="{% url "home" %}">Home</a>
            </li>
             <li class="breadcrumbs__item breadcrumbs__item--hidden-mobile">
                <a href="{% url "categories" %}">Categories</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "child categories list" slug=category.parent_category.slug %}">{{ category.parent_category.name }}</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="{% url "category view" slug=category.parent_category.slug child_slug=category.slug %}">{{ category.name }}</a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--hidden-mobile">
                <a href="#">{{ item.name }}</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumps %}
{% block content %}
<section class="product-detail">
    <div class="product-detail__image">
        <img src="/static/img/item/{{ item.image|safe }}">
    </div>
    <div class="product-detail__text">
        <h1>{{ item.name }}</h1>
        {% if item.brand != '' %}
         <h2>{{ item.brand }}</h2>
        {% endif %}
        <p>€ {{ item.price }}</p>
    </div>
    <div class="product-detail__description">
        <p>{{ item.description|safe }}
        </p>
    </div>
    <form action="/add/" method="post" id="addToCartForm">
        {% csrf_token %}
    <input type="hidden" name="id" value="{{ item.id }}">
    {% if item.color != '' %}
    <div class="product-detail__size">
        <h3>Colour</h3>
        <div class="size">
             <input type="radio" name="colour" id="colour" class="color__input" checked="checked" value="{{ item.color }}">
            <label for="colour" class="color__label">
                {{ item.color }}
            </label>
        </div>
    </div>
    {% endif %}
    <div class="product-detail__button form__input">
        <input type="submit" value="ADD TO CART">
        <div class="buy__spinner">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </div>
        <span class="buy__message-span">OK</span>
    </div>
    </form>
</section>
{% endblock content %}